<div class="contents_top-index bg-slider">
  <div class="login-menu">
    <div class="signup">
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>
    <div class="login">
      <%= link_to 'Log in', new_user_session_path %>
    </div>
  </div>
</div>


