<div class="contents">
  <div class="content-left">
    <div class="left-top-box">
      <h2>目標</h2>
    </div>
    <div class="left-bottom-box">
      <h2>Kg</h2>
    </div>
  </div>

  <div class="content-center">
    <div class="center-top-box">
      <h2>UserName</h2>
    </div>
    <div class="center-bottom-box">
      <h2>アイコン画像</h2>
    </div>
  </div>

  <div class="content-right">
    <div class="right-top-box">
      <h2>現在</h2>
    </div>
    <div class="right-bottom-box">
      <h2>Kg</h2>
    </div>
  </div>
</div>
