<div class="redord-contents">
  <div class="weight-form">
    <%= form_with model:@weight, local: true  do |form| %>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>