/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

 .header__contents {
   display: flex;
   width: 100%;
 
 }
 .header__logo {
  /* padding: 50px 0 15px; */
  margin: 0 0 40px;
  text-align: center;
 }
 .header__bar {
  padding: 50px 0 15px;
   background-color: #FFFFCC;
   line-height: 40px;
   border-bottom: solid 1px #999900;
 }

.user_nav {
  width: calc(100% / 5);
  text-align: center;
}
.user_nav a {
   text-decoration: none;
   color: #999900;
 }