/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;200&display=swap');
 
 
 .header__contents {
   display: flex;
   justify-content: center;
   width: 100%;
   list-style: none;
 
 }
 .header__logo {
  /* padding: 50px 0 15px; */
  margin: 0 0 40px;
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
 }
 .header__bar {
  padding: 50px 0 5px;
   /* background-color: #FFFFCC; */
   line-height: 40px;
   border-bottom: solid 1px #999900;
 }

.user_nav {
  text-decoration: none;
  text-align: center;
  padding: 0px 22px 2px 23px;
  color: #325a3c;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  display:inline;
}
.user_nav a {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  color: #999900;
  text-decoration: none;
  padding: 0px 20px;
  transition: .4s;
}
.user_nav a:hover {
  background-color: #474943;
  color: #FFF;
}
