.contents_registration-new {
  background-image: url(/images/diet2.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}
.user-form {
  margin: 0 auto;
  width: 500px;
  padding: 40px 0 0 0;
}
.user-form h2 {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}
.field {
  margin-bottom: 10px;
  position: relative;
}
.user-label {
  color: white;
  position: absolute;
  top: 28px;
  left: 30px;
}
.user-label_password_confirmation {
  color: white;
  position: absolute;
  top: 28px;
  left: -35px;
}

input[type='email'], input[type='password'], input[type='number'], input[type='text'] {
  // border-radius: 5px;
  // border: 1px solid #ccc;
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin: 0 auto;
  display: block;
}
input[type=submit]{
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin: 10px auto;
  display: block;
}
input[type=submit]:hover{
  opacity: 0.8;
}

input[type=submit]:active{
  opacity: 0.6;
}

.field input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.field input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

input[type=submit]:focus{
  outline: none;
}

::-webkit-input-placeholder{
 color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
 color: rgba(255,255,255,0.6);
}
.user-inform {
  color: #4D4D4D;
}

.user-links {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.user-links a {
  text-decoration: none;
  color: white;
}

// ログインページ
.contents_session-new {
  background-image: url(diet2.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}
.password-rememberable {
  color: white;
  padding: 30px 0 0 130px;
}