.tags {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  text-align: center;
  color: #555555;
}
.tags ul {
  list-style: none;
  margin-top: 10px;
}
.tag-topic {
  margin-bottom: 5px;
}
.tag-topic a {
  text-decoration: none;
  color: #99CCCC;
  font-size: 18px;
}