html, body {
  height: 100%;
}
header {
  height: 40px;
  width: 100%;
  background-color: lightgray;
}

.main {
  height: calc(100% - 70px);
  width: 100%;
  background-color: lightsalmon;
}
.main {
  display: flex;
  justify-content: center;
}
li {
  width: 100%;
  list-style-type: none;
  border: #999 solid 1px;
  margin: 0 0 10px 0;
  padding: 10px 30px;
  text-align: center;
}



footer {
  height: 30px;
  width: 100%;
  background-color: lightgreen;
}