html, body {
  height: 100%;
}
header {
  height: 40px;
  width: 100%;
  background-color: lightgray;
}

.contents_top-index {
  height: calc(100% - 30px);
  width: 100%;
}

.login-menu {
  
}
.signup, .login {
  margin: 30px auto;
  width: 200px;
  border: #999 solid 1px;
  border-radius: 5px;
  padding: 10px; 
  text-align: center;
}
.signup a, .login a {
  text-decoration: none; 
  color: #999999;
}

footer {
  height: 30px;
  width: 100%;
  background-color: lightgreen;
}