.ui-helper-hidden-accessible {
  display: none;
}
.contents_topic-index {
  background-color: #e6e6e6;
}
.fa-comment-dots {
  text-decoration: none;
  color: #999900;
}
.topic {
  margin: 0 auto;
  width: 500px;
  border: solid 1px #CCCC00;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 10px 0 10px 10px;
  background-color: white;
}
.topic-title {
  font-size: 18px;
  
}
.topic-title a {
  text-decoration: none; 
  color: #999999;
}
.topic-user-name {
  font-size: 15px;
  width: 100px;
  margin: 0 0 0 auto;
  color: #555555;
}
.topic-date {
  font-size: 15px;
  width: 100px;
  margin: 0 0 0 auto;
  color: #555555;
}
// showページ
.contents_topic-show {
  background-color: #e6e6e6;
  padding-top: 30px;
  height: 100%;
}
.topic-content {
  margin: 30px 10px;
}
.topic-edit {
  font-size: 15px;
  width: 100px;
  margin: 0 0 0 auto;
  color: #555555;
}
.topic-edit a {
  text-decoration: none; 
  color: #99CCCC;
}
.topic-tag ul {
  list-style: none;
  display: flex;
}
.topic-tag li {
  margin-right: 3px;
}
.topic-tag a {
  text-decoration: none; 
  color: #999999;
}
.comments-show {
  margin: 0 auto;
  width: 500px;
}
.comments-show h4 {
  text-align: center;
  padding: 0 0 8px 0;
}
.comment {
  padding: 10px;
  border: solid 1px #CCCC00;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: white;
}
.comment-form {
  margin: 0 auto;
  width: 500px;
}
// newページ
.post-topic {
  height: 100%;
  background-color: #e6e6e6;
}
.topic-form {
  margin: 0 auto;
  width: 500px;
  padding-top: 30px;
}
#topic_title {
  width: 100%;
}
#topic_title, #topic_content, #topic-tags {
  margin-bottom: 30px;
}