.record-icon {
  text-align: center;
  margin: 30px 0;
}

table {
  width: 500px;
  text-align: center;
  border: solid 2px #CCCC00;
}

table th{
  padding: 10px;
  border: solid 1px;
  border: dashed 1px #CCCC00;
  background: #FFFFCC;
  color: #CCCC00;
}

table td {
  padding: 10px;
  border: solid 1px;
  border: dashed 1px #CCCC00;
  color: #999999;
}

.contents_weight-index {
  align-content: center;
}

.weight-grah {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.weight-table {
  margin: 0 auto;
  width: 500px;
}
.weight-edit {
  color: #99CCCC;
}
.fa-weight {
  text-decoration: none;
  color: #999900;
}
// フォーム
.weight-form {
  margin: 30px auto;
  width: 500px;
  text-align: center;
}
.form-weight {
  margin-top: 10px;
}